#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 747px 1232px #fff, 510px 1175px #fff, 872px 1572px #fff,
    514px 1998px #fff, 169px 9px #fff, 1393px 1838px #fff, 1494px 1392px #fff,
    978px 145px #fff, 182px 1282px #fff, 208px 994px #fff, 90px 1701px #fff,
    112px 944px #fff, 1947px 1514px #fff, 77px 494px #fff, 673px 389px #fff,
    864px 1330px #fff, 1515px 742px #fff, 261px 1668px #fff, 319px 962px #fff,
    409px 251px #fff, 82px 1992px #fff, 1927px 1033px #fff, 1412px 1187px #fff,
    1476px 1813px #fff, 88px 94px #fff, 142px 427px #fff, 161px 222px #fff,
    613px 882px #fff, 1099px 432px #fff, 1128px 458px #fff, 981px 1178px #fff,
    836px 1742px #fff, 1696px 1286px #fff, 1971px 1013px #fff, 679px 367px #fff,
    142px 1394px #fff, 529px 1801px #fff, 331px 1327px #fff, 1631px 1067px #fff,
    1389px 1543px #fff, 846px 421px #fff, 374px 1442px #fff, 373px 235px #fff,
    230px 580px #fff, 229px 942px #fff, 1278px 1701px #fff, 876px 1021px #fff,
    896px 433px #fff, 674px 1174px #fff, 211px 329px #fff, 1946px 1963px #fff,
    294px 1628px #fff, 860px 913px #fff, 1361px 60px #fff, 1388px 257px #fff,
    1955px 1673px #fff, 1316px 472px #fff, 49px 1454px #fff, 1733px 732px #fff,
    1592px 756px #fff, 1169px 1528px #fff, 1085px 1352px #fff,
    1548px 1489px #fff, 784px 4px #fff, 926px 37px #fff, 596px 586px #fff,
    407px 1110px #fff, 1386px 1992px #fff, 1393px 369px #fff, 1976px 392px #fff,
    243px 1055px #fff, 323px 1924px #fff, 877px 885px #fff, 278px 1141px #fff,
    133px 764px #fff, 1891px 1883px #fff, 1103px 874px #fff, 956px 1155px #fff,
    1235px 1082px #fff, 1517px 164px #fff, 1073px 575px #fff, 972px 40px #fff,
    645px 794px #fff, 613px 253px #fff, 248px 924px #fff, 1502px 148px #fff,
    1134px 1579px #fff, 580px 1739px #fff, 1078px 1073px #fff, 94px 729px #fff,
    276px 658px #fff, 928px 1430px #fff, 1333px 1635px #fff, 1249px 230px #fff,
    838px 1999px #fff, 95px 1325px #fff, 161px 1829px #fff, 879px 1850px #fff,
    550px 171px #fff, 1043px 946px #fff, 1810px 1941px #fff, 1968px 51px #fff,
    414px 1315px #fff, 68px 113px #fff, 1241px 703px #fff, 1429px 1973px #fff,
    1956px 1193px #fff, 569px 210px #fff, 250px 324px #fff, 1651px 464px #fff,
    1761px 179px #fff, 1075px 1961px #fff, 489px 1741px #fff, 772px 711px #fff,
    1778px 251px #fff, 241px 1555px #fff, 99px 117px #fff, 75px 1660px #fff,
    1851px 1881px #fff, 1592px 60px #fff, 1490px 849px #fff, 923px 1359px #fff,
    1915px 161px #fff, 1789px 1471px #fff, 1712px 478px #fff, 1329px 561px #fff,
    947px 1472px #fff, 565px 1978px #fff, 1352px 975px #fff, 691px 418px #fff,
    1703px 514px #fff, 1355px 1818px #fff, 1568px 919px #fff, 1235px 1588px #fff,
    825px 1390px #fff, 1275px 232px #fff, 1940px 1512px #fff, 1893px 945px #fff,
    304px 1300px #fff, 1679px 1973px #fff, 1910px 770px #fff, 1630px 805px #fff,
    1272px 1314px #fff, 1545px 705px #fff, 1419px 1212px #fff, 512px 1481px #fff,
    944px 649px #fff, 840px 1816px #fff, 830px 1374px #fff, 1563px 1700px #fff,
    1504px 777px #fff, 730px 982px #fff, 1995px 508px #fff, 893px 811px #fff,
    610px 1785px #fff, 665px 103px #fff, 1079px 1510px #fff, 303px 1908px #fff,
    1894px 1942px #fff, 858px 86px #fff, 1653px 828px #fff, 1355px 596px #fff,
    1307px 1655px #fff, 344px 729px #fff, 400px 813px #fff, 1938px 140px #fff,
    1000px 202px #fff, 108px 1651px #fff, 766px 1848px #fff, 1479px 641px #fff,
    914px 900px #fff, 553px 1902px #fff, 1606px 1080px #fff, 1762px 1395px #fff,
    1223px 972px #fff, 1589px 959px #fff, 381px 74px #fff, 914px 1541px #fff,
    146px 1409px #fff, 745px 392px #fff, 1755px 378px #fff, 1429px 1784px #fff,
    1788px 660px #fff, 1548px 1437px #fff, 758px 1890px #fff, 1865px 1297px #fff,
    1210px 130px #fff, 164px 1042px #fff, 1619px 868px #fff, 499px 76px #fff,
    159px 1714px #fff, 1838px 665px #fff, 1360px 534px #fff, 241px 1387px #fff,
    1043px 1519px #fff, 40px 1963px #fff, 380px 1703px #fff, 396px 439px #fff,
    531px 145px #fff, 1226px 328px #fff, 1070px 1324px #fff, 1613px 860px #fff,
    1509px 1528px #fff, 1889px 226px #fff, 57px 636px #fff, 808px 975px #fff,
    1222px 1710px #fff, 1047px 1874px #fff, 1382px 1359px #fff,
    1519px 1830px #fff, 1577px 1813px #fff, 1285px 976px #fff, 462px 772px #fff,
    1554px 1478px #fff, 674px 747px #fff, 382px 792px #fff, 1250px 111px #fff,
    971px 1552px #fff, 1241px 1353px #fff, 1313px 354px #fff, 21px 740px #fff,
    1118px 616px #fff, 144px 1308px #fff, 1435px 1908px #fff, 957px 366px #fff,
    770px 265px #fff, 412px 1124px #fff, 376px 1139px #fff, 1961px 417px #fff,
    1122px 1009px #fff, 1132px 212px #fff, 438px 1224px #fff, 1902px 460px #fff,
    285px 538px #fff, 906px 1559px #fff, 973px 655px #fff, 18px 1406px #fff,
    938px 1500px #fff, 847px 1031px #fff, 1031px 828px #fff, 1169px 1169px #fff,
    448px 1962px #fff, 476px 1866px #fff, 369px 894px #fff, 92px 71px #fff,
    1578px 1556px #fff, 1961px 43px #fff, 1542px 810px #fff, 1588px 1242px #fff,
    1100px 20px #fff, 998px 1008px #fff, 1799px 239px #fff, 1819px 1422px #fff,
    47px 1264px #fff, 380px 218px #fff, 199px 418px #fff, 536px 1036px #fff,
    1714px 1603px #fff, 857px 819px #fff, 40px 1876px #fff, 1035px 1868px #fff,
    1078px 1149px #fff, 894px 1826px #fff, 1669px 589px #fff, 466px 689px #fff,
    1457px 760px #fff, 1008px 1355px #fff, 911px 1643px #fff, 1591px 673px #fff,
    1600px 723px #fff, 207px 1064px #fff, 1536px 602px #fff, 1828px 1626px #fff,
    1407px 456px #fff, 716px 1524px #fff, 1309px 1769px #fff, 1781px 868px #fff,
    993px 239px #fff, 1510px 879px #fff, 129px 1530px #fff, 120px 1478px #fff,
    736px 490px #fff, 1726px 1366px #fff, 259px 1224px #fff, 1259px 1361px #fff,
    150px 246px #fff, 1108px 1737px #fff, 649px 993px #fff, 1541px 513px #fff,
    1873px 1526px #fff, 716px 574px #fff, 1894px 1383px #fff, 270px 226px #fff,
    1310px 165px #fff, 1081px 373px #fff, 913px 979px #fff, 1850px 156px #fff,
    1915px 475px #fff, 1116px 1311px #fff, 1832px 1386px #fff, 470px 423px #fff,
    155px 563px #fff, 1400px 1357px #fff, 973px 1767px #fff, 350px 1820px #fff,
    1427px 838px #fff, 1735px 630px #fff, 1205px 1656px #fff, 1048px 41px #fff,
    1035px 672px #fff, 552px 1722px #fff, 581px 1019px #fff, 1557px 1170px #fff,
    984px 82px #fff, 1273px 156px #fff, 908px 379px #fff, 1444px 152px #fff,
    1711px 1152px #fff, 1407px 61px #fff, 633px 632px #fff, 589px 438px #fff,
    252px 1335px #fff, 1533px 652px #fff, 123px 339px #fff, 1568px 1104px #fff,
    711px 1921px #fff, 1430px 676px #fff, 735px 1385px #fff, 1448px 1880px #fff,
    477px 886px #fff, 478px 567px #fff, 1614px 1416px #fff, 1529px 652px #fff,
    1601px 1372px #fff, 252px 1207px #fff, 248px 1956px #fff, 721px 614px #fff,
    792px 114px #fff, 14px 576px #fff, 1743px 808px #fff, 253px 750px #fff,
    939px 1287px #fff, 1369px 313px #fff, 517px 1049px #fff, 704px 606px #fff,
    480px 409px #fff, 494px 38px #fff, 879px 881px #fff, 1764px 805px #fff,
    1375px 899px #fff, 980px 1935px #fff, 407px 974px #fff, 145px 392px #fff,
    77px 312px #fff, 541px 796px #fff, 1899px 1393px #fff, 7px 346px #fff,
    1816px 1866px #fff, 1098px 1856px #fff, 862px 75px #fff, 1825px 581px #fff,
    967px 314px #fff, 1087px 1763px #fff, 664px 862px #fff, 740px 1410px #fff,
    1542px 796px #fff, 1310px 14px #fff, 646px 1330px #fff, 649px 1053px #fff,
    296px 547px #fff, 259px 1664px #fff, 1413px 593px #fff, 1773px 936px #fff,
    1837px 242px #fff, 1905px 1590px #fff, 153px 1358px #fff, 488px 1857px #fff,
    268px 320px #fff, 1206px 468px #fff, 195px 849px #fff, 700px 967px #fff,
    1990px 1px #fff, 970px 1087px #fff, 1477px 1692px #fff, 196px 930px #fff,
    1885px 340px #fff, 855px 1623px #fff, 1983px 1869px #fff, 882px 1830px #fff,
    1118px 891px #fff, 1195px 1472px #fff, 679px 912px #fff, 1931px 1714px #fff,
    122px 1449px #fff, 1418px 631px #fff, 237px 244px #fff, 1937px 1465px #fff,
    429px 1536px #fff, 91px 1388px #fff, 701px 767px #fff, 1850px 140px #fff,
    130px 430px #fff, 968px 1905px #fff, 1222px 1616px #fff, 497px 145px #fff,
    871px 1549px #fff, 835px 1841px #fff, 1313px 1056px #fff, 1467px 520px #fff,
    331px 1649px #fff, 522px 1741px #fff, 1385px 1257px #fff, 280px 10px #fff,
    1092px 810px #fff, 80px 1023px #fff, 146px 1164px #fff, 313px 647px #fff,
    18px 514px #fff, 1761px 988px #fff, 1485px 399px #fff, 532px 39px #fff,
    1220px 1995px #fff, 1109px 926px #fff, 393px 1579px #fff, 233px 1705px #fff,
    1313px 707px #fff, 72px 1123px #fff, 974px 697px #fff, 59px 1240px #fff,
    914px 649px #fff, 1075px 1171px #fff, 1660px 1501px #fff, 601px 538px #fff,
    763px 460px #fff, 600px 1443px #fff, 1921px 958px #fff, 996px 505px #fff,
    1303px 1631px #fff, 868px 646px #fff, 1469px 474px #fff, 1143px 580px #fff,
    1907px 628px #fff, 81px 1538px #fff, 1817px 379px #fff, 159px 226px #fff,
    937px 60px #fff, 707px 1231px #fff, 1493px 933px #fff, 1700px 1340px #fff,
    1247px 229px #fff, 418px 976px #fff, 947px 1490px #fff, 1605px 1153px #fff,
    799px 226px #fff, 1259px 143px #fff, 1651px 1539px #fff, 715px 1610px #fff,
    764px 1801px #fff, 1751px 33px #fff, 1060px 1964px #fff, 863px 1394px #fff,
    435px 116px #fff, 1307px 966px #fff, 471px 1007px #fff, 854px 1698px #fff,
    1900px 1239px #fff, 130px 1528px #fff, 1708px 318px #fff, 662px 1895px #fff,
    1048px 346px #fff, 1455px 364px #fff, 42px 1765px #fff, 1906px 1727px #fff,
    822px 1306px #fff, 1441px 1943px #fff, 984px 1338px #fff, 633px 1555px #fff,
    1077px 1505px #fff, 452px 940px #fff, 1410px 675px #fff, 756px 1459px #fff,
    1787px 255px #fff, 842px 1227px #fff, 1601px 495px #fff, 104px 306px #fff,
    216px 659px #fff, 1927px 562px #fff, 1675px 1106px #fff, 1988px 1022px #fff,
    553px 644px #fff, 908px 512px #fff, 851px 985px #fff, 1369px 1056px #fff,
    301px 1498px #fff, 1560px 925px #fff, 422px 282px #fff, 972px 950px #fff,
    1519px 1405px #fff, 250px 1591px #fff, 163px 1647px #fff, 1212px 750px #fff,
    153px 95px #fff, 960px 619px #fff, 630px 623px #fff, 1357px 1598px #fff,
    844px 130px #fff, 941px 127px #fff, 1046px 1959px #fff, 184px 1354px #fff,
    1632px 1464px #fff, 374px 963px #fff, 1638px 833px #fff, 545px 1250px #fff,
    601px 570px #fff, 1920px 523px #fff, 1147px 706px #fff, 1713px 579px #fff,
    1471px 27px #fff, 165px 1194px #fff, 1028px 1385px #fff, 186px 47px #fff,
    1075px 595px #fff, 553px 700px #fff, 145px 927px #fff, 1543px 1030px #fff,
    1686px 1179px #fff, 528px 1970px #fff, 1380px 110px #fff, 1752px 1146px #fff,
    1475px 1963px #fff, 1053px 1309px #fff, 837px 976px #fff, 1251px 1193px #fff,
    193px 668px #fff, 1225px 1044px #fff, 1018px 409px #fff, 1926px 1333px #fff,
    616px 923px #fff, 649px 354px #fff, 468px 575px #fff, 773px 1693px #fff,
    1783px 1383px #fff, 1371px 425px #fff, 1014px 174px #fff, 1890px 1907px #fff,
    1596px 143px #fff, 1220px 1758px #fff, 201px 574px #fff, 1175px 309px #fff,
    508px 1920px #fff, 1825px 1805px #fff, 992px 1014px #fff, 1919px 330px #fff,
    323px 581px #fff, 348px 723px #fff, 588px 405px #fff, 1822px 1466px #fff,
    1769px 1232px #fff, 705px 114px #fff, 630px 1476px #fff, 947px 1786px #fff,
    734px 1621px #fff, 220px 1840px #fff, 199px 1156px #fff, 787px 1971px #fff,
    1856px 1700px #fff, 521px 648px #fff, 82px 427px #fff, 1044px 117px #fff,
    140px 515px #fff, 293px 1690px #fff, 487px 499px #fff, 1713px 1366px #fff,
    689px 1438px #fff, 1660px 42px #fff, 1494px 887px #fff, 693px 1875px #fff,
    532px 1946px #fff, 966px 1641px #fff, 163px 1102px #fff, 1160px 1468px #fff,
    1140px 442px #fff, 816px 806px #fff, 485px 1654px #fff, 1540px 1695px #fff,
    605px 998px #fff, 292px 1817px #fff, 1px 1246px #fff, 1501px 1996px #fff,
    49px 1095px #fff, 361px 643px #fff, 747px 1526px #fff, 1790px 628px #fff,
    1476px 803px #fff, 1320px 517px #fff, 1813px 783px #fff, 1705px 1329px #fff,
    1339px 1222px #fff, 1965px 1031px #fff, 1101px 109px #fff,
    1076px 1684px #fff, 1599px 1285px #fff, 1291px 916px #fff, 269px 1240px #fff,
    1716px 279px #fff, 1763px 1810px #fff, 1574px 816px #fff, 1121px 995px #fff,
    1479px 166px #fff, 1796px 1059px #fff, 668px 1482px #fff, 893px 1852px #fff,
    1847px 1072px #fff, 1714px 195px #fff, 10px 765px #fff, 1133px 832px #fff,
    497px 1181px #fff, 1186px 18px #fff, 1748px 144px #fff, 1677px 863px #fff,
    396px 965px #fff, 945px 743px #fff, 662px 356px #fff, 1431px 1912px #fff,
    494px 713px #fff, 33px 624px #fff, 608px 128px #fff, 1364px 885px #fff,
    534px 816px #fff, 472px 1827px #fff, 103px 1418px #fff, 1356px 118px #fff,
    1416px 30px #fff, 1010px 295px #fff, 1667px 1583px #fff, 1087px 380px #fff,
    1924px 641px #fff, 1179px 1132px #fff, 1377px 1855px #fff, 936px 1480px #fff,
    276px 299px #fff, 1240px 853px #fff, 43px 739px #fff, 798px 1042px #fff,
    475px 1984px #fff, 267px 577px #fff, 1596px 186px #fff, 496px 1603px #fff,
    846px 969px #fff, 976px 1278px #fff, 1200px 1645px #fff, 1802px 833px #fff,
    57px 1256px #fff, 964px 648px #fff, 172px 1455px #fff, 1208px 633px #fff,
    554px 200px #fff, 1108px 302px #fff, 1403px 1390px #fff, 647px 38px #fff,
    462px 493px #fff, 1259px 643px #fff, 1085px 1674px #fff, 982px 1690px #fff,
    838px 347px #fff, 1811px 1451px #fff, 1662px 1051px #fff, 687px 576px #fff,
    1986px 619px #fff, 635px 1510px #fff, 582px 1960px #fff, 1754px 1226px #fff,
    1564px 1713px #fff, 1074px 1920px #fff, 966px 480px #fff, 241px 140px #fff,
    595px 146px #fff, 1104px 5px #fff, 31px 1372px #fff, 1379px 363px #fff,
    1335px 1212px #fff, 112px 1559px #fff, 594px 1051px #fff, 927px 526px #fff,
    650px 699px #fff, 293px 255px #fff, 339px 1610px #fff, 1534px 1675px #fff,
    6px 351px #fff, 390px 207px #fff, 430px 684px #fff, 945px 1456px #fff,
    779px 1976px #fff, 1762px 383px #fff, 979px 1263px #fff, 663px 846px #fff,
    145px 436px #fff, 1060px 1935px #fff, 169px 201px #fff, 1782px 1171px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 747px 1232px #fff, 510px 1175px #fff, 872px 1572px #fff,
    514px 1998px #fff, 169px 9px #fff, 1393px 1838px #fff, 1494px 1392px #fff,
    978px 145px #fff, 182px 1282px #fff, 208px 994px #fff, 90px 1701px #fff,
    112px 944px #fff, 1947px 1514px #fff, 77px 494px #fff, 673px 389px #fff,
    864px 1330px #fff, 1515px 742px #fff, 261px 1668px #fff, 319px 962px #fff,
    409px 251px #fff, 82px 1992px #fff, 1927px 1033px #fff, 1412px 1187px #fff,
    1476px 1813px #fff, 88px 94px #fff, 142px 427px #fff, 161px 222px #fff,
    613px 882px #fff, 1099px 432px #fff, 1128px 458px #fff, 981px 1178px #fff,
    836px 1742px #fff, 1696px 1286px #fff, 1971px 1013px #fff, 679px 367px #fff,
    142px 1394px #fff, 529px 1801px #fff, 331px 1327px #fff, 1631px 1067px #fff,
    1389px 1543px #fff, 846px 421px #fff, 374px 1442px #fff, 373px 235px #fff,
    230px 580px #fff, 229px 942px #fff, 1278px 1701px #fff, 876px 1021px #fff,
    896px 433px #fff, 674px 1174px #fff, 211px 329px #fff, 1946px 1963px #fff,
    294px 1628px #fff, 860px 913px #fff, 1361px 60px #fff, 1388px 257px #fff,
    1955px 1673px #fff, 1316px 472px #fff, 49px 1454px #fff, 1733px 732px #fff,
    1592px 756px #fff, 1169px 1528px #fff, 1085px 1352px #fff,
    1548px 1489px #fff, 784px 4px #fff, 926px 37px #fff, 596px 586px #fff,
    407px 1110px #fff, 1386px 1992px #fff, 1393px 369px #fff, 1976px 392px #fff,
    243px 1055px #fff, 323px 1924px #fff, 877px 885px #fff, 278px 1141px #fff,
    133px 764px #fff, 1891px 1883px #fff, 1103px 874px #fff, 956px 1155px #fff,
    1235px 1082px #fff, 1517px 164px #fff, 1073px 575px #fff, 972px 40px #fff,
    645px 794px #fff, 613px 253px #fff, 248px 924px #fff, 1502px 148px #fff,
    1134px 1579px #fff, 580px 1739px #fff, 1078px 1073px #fff, 94px 729px #fff,
    276px 658px #fff, 928px 1430px #fff, 1333px 1635px #fff, 1249px 230px #fff,
    838px 1999px #fff, 95px 1325px #fff, 161px 1829px #fff, 879px 1850px #fff,
    550px 171px #fff, 1043px 946px #fff, 1810px 1941px #fff, 1968px 51px #fff,
    414px 1315px #fff, 68px 113px #fff, 1241px 703px #fff, 1429px 1973px #fff,
    1956px 1193px #fff, 569px 210px #fff, 250px 324px #fff, 1651px 464px #fff,
    1761px 179px #fff, 1075px 1961px #fff, 489px 1741px #fff, 772px 711px #fff,
    1778px 251px #fff, 241px 1555px #fff, 99px 117px #fff, 75px 1660px #fff,
    1851px 1881px #fff, 1592px 60px #fff, 1490px 849px #fff, 923px 1359px #fff,
    1915px 161px #fff, 1789px 1471px #fff, 1712px 478px #fff, 1329px 561px #fff,
    947px 1472px #fff, 565px 1978px #fff, 1352px 975px #fff, 691px 418px #fff,
    1703px 514px #fff, 1355px 1818px #fff, 1568px 919px #fff, 1235px 1588px #fff,
    825px 1390px #fff, 1275px 232px #fff, 1940px 1512px #fff, 1893px 945px #fff,
    304px 1300px #fff, 1679px 1973px #fff, 1910px 770px #fff, 1630px 805px #fff,
    1272px 1314px #fff, 1545px 705px #fff, 1419px 1212px #fff, 512px 1481px #fff,
    944px 649px #fff, 840px 1816px #fff, 830px 1374px #fff, 1563px 1700px #fff,
    1504px 777px #fff, 730px 982px #fff, 1995px 508px #fff, 893px 811px #fff,
    610px 1785px #fff, 665px 103px #fff, 1079px 1510px #fff, 303px 1908px #fff,
    1894px 1942px #fff, 858px 86px #fff, 1653px 828px #fff, 1355px 596px #fff,
    1307px 1655px #fff, 344px 729px #fff, 400px 813px #fff, 1938px 140px #fff,
    1000px 202px #fff, 108px 1651px #fff, 766px 1848px #fff, 1479px 641px #fff,
    914px 900px #fff, 553px 1902px #fff, 1606px 1080px #fff, 1762px 1395px #fff,
    1223px 972px #fff, 1589px 959px #fff, 381px 74px #fff, 914px 1541px #fff,
    146px 1409px #fff, 745px 392px #fff, 1755px 378px #fff, 1429px 1784px #fff,
    1788px 660px #fff, 1548px 1437px #fff, 758px 1890px #fff, 1865px 1297px #fff,
    1210px 130px #fff, 164px 1042px #fff, 1619px 868px #fff, 499px 76px #fff,
    159px 1714px #fff, 1838px 665px #fff, 1360px 534px #fff, 241px 1387px #fff,
    1043px 1519px #fff, 40px 1963px #fff, 380px 1703px #fff, 396px 439px #fff,
    531px 145px #fff, 1226px 328px #fff, 1070px 1324px #fff, 1613px 860px #fff,
    1509px 1528px #fff, 1889px 226px #fff, 57px 636px #fff, 808px 975px #fff,
    1222px 1710px #fff, 1047px 1874px #fff, 1382px 1359px #fff,
    1519px 1830px #fff, 1577px 1813px #fff, 1285px 976px #fff, 462px 772px #fff,
    1554px 1478px #fff, 674px 747px #fff, 382px 792px #fff, 1250px 111px #fff,
    971px 1552px #fff, 1241px 1353px #fff, 1313px 354px #fff, 21px 740px #fff,
    1118px 616px #fff, 144px 1308px #fff, 1435px 1908px #fff, 957px 366px #fff,
    770px 265px #fff, 412px 1124px #fff, 376px 1139px #fff, 1961px 417px #fff,
    1122px 1009px #fff, 1132px 212px #fff, 438px 1224px #fff, 1902px 460px #fff,
    285px 538px #fff, 906px 1559px #fff, 973px 655px #fff, 18px 1406px #fff,
    938px 1500px #fff, 847px 1031px #fff, 1031px 828px #fff, 1169px 1169px #fff,
    448px 1962px #fff, 476px 1866px #fff, 369px 894px #fff, 92px 71px #fff,
    1578px 1556px #fff, 1961px 43px #fff, 1542px 810px #fff, 1588px 1242px #fff,
    1100px 20px #fff, 998px 1008px #fff, 1799px 239px #fff, 1819px 1422px #fff,
    47px 1264px #fff, 380px 218px #fff, 199px 418px #fff, 536px 1036px #fff,
    1714px 1603px #fff, 857px 819px #fff, 40px 1876px #fff, 1035px 1868px #fff,
    1078px 1149px #fff, 894px 1826px #fff, 1669px 589px #fff, 466px 689px #fff,
    1457px 760px #fff, 1008px 1355px #fff, 911px 1643px #fff, 1591px 673px #fff,
    1600px 723px #fff, 207px 1064px #fff, 1536px 602px #fff, 1828px 1626px #fff,
    1407px 456px #fff, 716px 1524px #fff, 1309px 1769px #fff, 1781px 868px #fff,
    993px 239px #fff, 1510px 879px #fff, 129px 1530px #fff, 120px 1478px #fff,
    736px 490px #fff, 1726px 1366px #fff, 259px 1224px #fff, 1259px 1361px #fff,
    150px 246px #fff, 1108px 1737px #fff, 649px 993px #fff, 1541px 513px #fff,
    1873px 1526px #fff, 716px 574px #fff, 1894px 1383px #fff, 270px 226px #fff,
    1310px 165px #fff, 1081px 373px #fff, 913px 979px #fff, 1850px 156px #fff,
    1915px 475px #fff, 1116px 1311px #fff, 1832px 1386px #fff, 470px 423px #fff,
    155px 563px #fff, 1400px 1357px #fff, 973px 1767px #fff, 350px 1820px #fff,
    1427px 838px #fff, 1735px 630px #fff, 1205px 1656px #fff, 1048px 41px #fff,
    1035px 672px #fff, 552px 1722px #fff, 581px 1019px #fff, 1557px 1170px #fff,
    984px 82px #fff, 1273px 156px #fff, 908px 379px #fff, 1444px 152px #fff,
    1711px 1152px #fff, 1407px 61px #fff, 633px 632px #fff, 589px 438px #fff,
    252px 1335px #fff, 1533px 652px #fff, 123px 339px #fff, 1568px 1104px #fff,
    711px 1921px #fff, 1430px 676px #fff, 735px 1385px #fff, 1448px 1880px #fff,
    477px 886px #fff, 478px 567px #fff, 1614px 1416px #fff, 1529px 652px #fff,
    1601px 1372px #fff, 252px 1207px #fff, 248px 1956px #fff, 721px 614px #fff,
    792px 114px #fff, 14px 576px #fff, 1743px 808px #fff, 253px 750px #fff,
    939px 1287px #fff, 1369px 313px #fff, 517px 1049px #fff, 704px 606px #fff,
    480px 409px #fff, 494px 38px #fff, 879px 881px #fff, 1764px 805px #fff,
    1375px 899px #fff, 980px 1935px #fff, 407px 974px #fff, 145px 392px #fff,
    77px 312px #fff, 541px 796px #fff, 1899px 1393px #fff, 7px 346px #fff,
    1816px 1866px #fff, 1098px 1856px #fff, 862px 75px #fff, 1825px 581px #fff,
    967px 314px #fff, 1087px 1763px #fff, 664px 862px #fff, 740px 1410px #fff,
    1542px 796px #fff, 1310px 14px #fff, 646px 1330px #fff, 649px 1053px #fff,
    296px 547px #fff, 259px 1664px #fff, 1413px 593px #fff, 1773px 936px #fff,
    1837px 242px #fff, 1905px 1590px #fff, 153px 1358px #fff, 488px 1857px #fff,
    268px 320px #fff, 1206px 468px #fff, 195px 849px #fff, 700px 967px #fff,
    1990px 1px #fff, 970px 1087px #fff, 1477px 1692px #fff, 196px 930px #fff,
    1885px 340px #fff, 855px 1623px #fff, 1983px 1869px #fff, 882px 1830px #fff,
    1118px 891px #fff, 1195px 1472px #fff, 679px 912px #fff, 1931px 1714px #fff,
    122px 1449px #fff, 1418px 631px #fff, 237px 244px #fff, 1937px 1465px #fff,
    429px 1536px #fff, 91px 1388px #fff, 701px 767px #fff, 1850px 140px #fff,
    130px 430px #fff, 968px 1905px #fff, 1222px 1616px #fff, 497px 145px #fff,
    871px 1549px #fff, 835px 1841px #fff, 1313px 1056px #fff, 1467px 520px #fff,
    331px 1649px #fff, 522px 1741px #fff, 1385px 1257px #fff, 280px 10px #fff,
    1092px 810px #fff, 80px 1023px #fff, 146px 1164px #fff, 313px 647px #fff,
    18px 514px #fff, 1761px 988px #fff, 1485px 399px #fff, 532px 39px #fff,
    1220px 1995px #fff, 1109px 926px #fff, 393px 1579px #fff, 233px 1705px #fff,
    1313px 707px #fff, 72px 1123px #fff, 974px 697px #fff, 59px 1240px #fff,
    914px 649px #fff, 1075px 1171px #fff, 1660px 1501px #fff, 601px 538px #fff,
    763px 460px #fff, 600px 1443px #fff, 1921px 958px #fff, 996px 505px #fff,
    1303px 1631px #fff, 868px 646px #fff, 1469px 474px #fff, 1143px 580px #fff,
    1907px 628px #fff, 81px 1538px #fff, 1817px 379px #fff, 159px 226px #fff,
    937px 60px #fff, 707px 1231px #fff, 1493px 933px #fff, 1700px 1340px #fff,
    1247px 229px #fff, 418px 976px #fff, 947px 1490px #fff, 1605px 1153px #fff,
    799px 226px #fff, 1259px 143px #fff, 1651px 1539px #fff, 715px 1610px #fff,
    764px 1801px #fff, 1751px 33px #fff, 1060px 1964px #fff, 863px 1394px #fff,
    435px 116px #fff, 1307px 966px #fff, 471px 1007px #fff, 854px 1698px #fff,
    1900px 1239px #fff, 130px 1528px #fff, 1708px 318px #fff, 662px 1895px #fff,
    1048px 346px #fff, 1455px 364px #fff, 42px 1765px #fff, 1906px 1727px #fff,
    822px 1306px #fff, 1441px 1943px #fff, 984px 1338px #fff, 633px 1555px #fff,
    1077px 1505px #fff, 452px 940px #fff, 1410px 675px #fff, 756px 1459px #fff,
    1787px 255px #fff, 842px 1227px #fff, 1601px 495px #fff, 104px 306px #fff,
    216px 659px #fff, 1927px 562px #fff, 1675px 1106px #fff, 1988px 1022px #fff,
    553px 644px #fff, 908px 512px #fff, 851px 985px #fff, 1369px 1056px #fff,
    301px 1498px #fff, 1560px 925px #fff, 422px 282px #fff, 972px 950px #fff,
    1519px 1405px #fff, 250px 1591px #fff, 163px 1647px #fff, 1212px 750px #fff,
    153px 95px #fff, 960px 619px #fff, 630px 623px #fff, 1357px 1598px #fff,
    844px 130px #fff, 941px 127px #fff, 1046px 1959px #fff, 184px 1354px #fff,
    1632px 1464px #fff, 374px 963px #fff, 1638px 833px #fff, 545px 1250px #fff,
    601px 570px #fff, 1920px 523px #fff, 1147px 706px #fff, 1713px 579px #fff,
    1471px 27px #fff, 165px 1194px #fff, 1028px 1385px #fff, 186px 47px #fff,
    1075px 595px #fff, 553px 700px #fff, 145px 927px #fff, 1543px 1030px #fff,
    1686px 1179px #fff, 528px 1970px #fff, 1380px 110px #fff, 1752px 1146px #fff,
    1475px 1963px #fff, 1053px 1309px #fff, 837px 976px #fff, 1251px 1193px #fff,
    193px 668px #fff, 1225px 1044px #fff, 1018px 409px #fff, 1926px 1333px #fff,
    616px 923px #fff, 649px 354px #fff, 468px 575px #fff, 773px 1693px #fff,
    1783px 1383px #fff, 1371px 425px #fff, 1014px 174px #fff, 1890px 1907px #fff,
    1596px 143px #fff, 1220px 1758px #fff, 201px 574px #fff, 1175px 309px #fff,
    508px 1920px #fff, 1825px 1805px #fff, 992px 1014px #fff, 1919px 330px #fff,
    323px 581px #fff, 348px 723px #fff, 588px 405px #fff, 1822px 1466px #fff,
    1769px 1232px #fff, 705px 114px #fff, 630px 1476px #fff, 947px 1786px #fff,
    734px 1621px #fff, 220px 1840px #fff, 199px 1156px #fff, 787px 1971px #fff,
    1856px 1700px #fff, 521px 648px #fff, 82px 427px #fff, 1044px 117px #fff,
    140px 515px #fff, 293px 1690px #fff, 487px 499px #fff, 1713px 1366px #fff,
    689px 1438px #fff, 1660px 42px #fff, 1494px 887px #fff, 693px 1875px #fff,
    532px 1946px #fff, 966px 1641px #fff, 163px 1102px #fff, 1160px 1468px #fff,
    1140px 442px #fff, 816px 806px #fff, 485px 1654px #fff, 1540px 1695px #fff,
    605px 998px #fff, 292px 1817px #fff, 1px 1246px #fff, 1501px 1996px #fff,
    49px 1095px #fff, 361px 643px #fff, 747px 1526px #fff, 1790px 628px #fff,
    1476px 803px #fff, 1320px 517px #fff, 1813px 783px #fff, 1705px 1329px #fff,
    1339px 1222px #fff, 1965px 1031px #fff, 1101px 109px #fff,
    1076px 1684px #fff, 1599px 1285px #fff, 1291px 916px #fff, 269px 1240px #fff,
    1716px 279px #fff, 1763px 1810px #fff, 1574px 816px #fff, 1121px 995px #fff,
    1479px 166px #fff, 1796px 1059px #fff, 668px 1482px #fff, 893px 1852px #fff,
    1847px 1072px #fff, 1714px 195px #fff, 10px 765px #fff, 1133px 832px #fff,
    497px 1181px #fff, 1186px 18px #fff, 1748px 144px #fff, 1677px 863px #fff,
    396px 965px #fff, 945px 743px #fff, 662px 356px #fff, 1431px 1912px #fff,
    494px 713px #fff, 33px 624px #fff, 608px 128px #fff, 1364px 885px #fff,
    534px 816px #fff, 472px 1827px #fff, 103px 1418px #fff, 1356px 118px #fff,
    1416px 30px #fff, 1010px 295px #fff, 1667px 1583px #fff, 1087px 380px #fff,
    1924px 641px #fff, 1179px 1132px #fff, 1377px 1855px #fff, 936px 1480px #fff,
    276px 299px #fff, 1240px 853px #fff, 43px 739px #fff, 798px 1042px #fff,
    475px 1984px #fff, 267px 577px #fff, 1596px 186px #fff, 496px 1603px #fff,
    846px 969px #fff, 976px 1278px #fff, 1200px 1645px #fff, 1802px 833px #fff,
    57px 1256px #fff, 964px 648px #fff, 172px 1455px #fff, 1208px 633px #fff,
    554px 200px #fff, 1108px 302px #fff, 1403px 1390px #fff, 647px 38px #fff,
    462px 493px #fff, 1259px 643px #fff, 1085px 1674px #fff, 982px 1690px #fff,
    838px 347px #fff, 1811px 1451px #fff, 1662px 1051px #fff, 687px 576px #fff,
    1986px 619px #fff, 635px 1510px #fff, 582px 1960px #fff, 1754px 1226px #fff,
    1564px 1713px #fff, 1074px 1920px #fff, 966px 480px #fff, 241px 140px #fff,
    595px 146px #fff, 1104px 5px #fff, 31px 1372px #fff, 1379px 363px #fff,
    1335px 1212px #fff, 112px 1559px #fff, 594px 1051px #fff, 927px 526px #fff,
    650px 699px #fff, 293px 255px #fff, 339px 1610px #fff, 1534px 1675px #fff,
    6px 351px #fff, 390px 207px #fff, 430px 684px #fff, 945px 1456px #fff,
    779px 1976px #fff, 1762px 383px #fff, 979px 1263px #fff, 663px 846px #fff,
    145px 436px #fff, 1060px 1935px #fff, 169px 201px #fff, 1782px 1171px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1556px 1751px #fff, 1156px 151px #fff, 216px 879px #fff,
    1708px 939px #fff, 274px 1770px #fff, 975px 1902px #fff, 759px 683px #fff,
    548px 816px #fff, 121px 920px #fff, 357px 1805px #fff, 624px 867px #fff,
    1924px 547px #fff, 1004px 1435px #fff, 364px 305px #fff, 867px 1106px #fff,
    1907px 821px #fff, 1704px 1519px #fff, 1206px 1069px #fff, 1210px 840px #fff,
    506px 35px #fff, 675px 1366px #fff, 535px 356px #fff, 1426px 1638px #fff,
    699px 1429px #fff, 1474px 653px #fff, 1740px 959px #fff, 1187px 489px #fff,
    1410px 215px #fff, 1348px 1765px #fff, 531px 267px #fff, 392px 1994px #fff,
    655px 1257px #fff, 1289px 1786px #fff, 1837px 851px #fff, 1207px 574px #fff,
    838px 290px #fff, 1085px 1825px #fff, 548px 1764px #fff, 271px 966px #fff,
    489px 758px #fff, 1861px 683px #fff, 894px 1605px #fff, 709px 1555px #fff,
    871px 941px #fff, 747px 1989px #fff, 674px 1373px #fff, 39px 351px #fff,
    1195px 66px #fff, 865px 33px #fff, 688px 1858px #fff, 451px 1821px #fff,
    1936px 1241px #fff, 1012px 1210px #fff, 1075px 393px #fff, 421px 1528px #fff,
    1758px 1991px #fff, 577px 723px #fff, 1793px 1764px #fff, 936px 61px #fff,
    499px 507px #fff, 1135px 1086px #fff, 865px 1943px #fff, 223px 1983px #fff,
    675px 79px #fff, 1000px 528px #fff, 811px 270px #fff, 947px 169px #fff,
    907px 1836px #fff, 1622px 465px #fff, 582px 1205px #fff, 892px 1168px #fff,
    506px 264px #fff, 764px 560px #fff, 874px 1453px #fff, 899px 1705px #fff,
    470px 709px #fff, 89px 1881px #fff, 506px 1531px #fff, 192px 589px #fff,
    432px 281px #fff, 1683px 1138px #fff, 579px 37px #fff, 1143px 44px #fff,
    1456px 642px #fff, 1757px 325px #fff, 1871px 1253px #fff, 603px 422px #fff,
    1963px 1449px #fff, 1646px 286px #fff, 1784px 670px #fff, 217px 1962px #fff,
    636px 1603px #fff, 1663px 168px #fff, 610px 60px #fff, 1539px 958px #fff,
    430px 982px #fff, 574px 1878px #fff, 49px 1163px #fff, 1413px 901px #fff,
    1080px 1955px #fff, 1919px 979px #fff, 305px 1319px #fff, 1305px 385px #fff,
    715px 185px #fff, 761px 1997px #fff, 1344px 232px #fff, 1364px 1577px #fff,
    1834px 1209px #fff, 1177px 46px #fff, 130px 1617px #fff, 1127px 736px #fff,
    1853px 805px #fff, 1481px 287px #fff, 1885px 590px #fff, 73px 1735px #fff,
    1283px 257px #fff, 1484px 1173px #fff, 1754px 1098px #fff, 294px 669px #fff,
    323px 1717px #fff, 1127px 1902px #fff, 910px 775px #fff, 423px 1209px #fff,
    517px 931px #fff, 1363px 1832px #fff, 746px 1860px #fff, 980px 608px #fff,
    1995px 1892px #fff, 1746px 1123px #fff, 1017px 1733px #fff,
    1205px 606px #fff, 1771px 330px #fff, 1818px 824px #fff, 11px 470px #fff,
    1652px 660px #fff, 427px 1558px #fff, 1922px 1711px #fff, 1495px 810px #fff,
    1119px 186px #fff, 352px 285px #fff, 325px 1163px #fff, 1239px 1375px #fff,
    1186px 1390px #fff, 1473px 1663px #fff, 796px 1028px #fff, 92px 1010px #fff,
    148px 1439px #fff, 973px 1475px #fff, 1466px 1133px #fff, 1322px 651px #fff,
    1263px 1223px #fff, 1435px 539px #fff, 1239px 514px #fff, 929px 678px #fff,
    1348px 1397px #fff, 1784px 838px #fff, 434px 1419px #fff, 979px 601px #fff,
    793px 66px #fff, 923px 1703px #fff, 1059px 424px #fff, 1404px 995px #fff,
    1438px 1372px #fff, 1969px 1065px #fff, 1755px 1821px #fff,
    1712px 1916px #fff, 1157px 28px #fff, 687px 1928px #fff, 842px 1773px #fff,
    1262px 1079px #fff, 1112px 356px #fff, 730px 932px #fff, 1369px 1695px #fff,
    711px 1621px #fff, 223px 1491px #fff, 465px 1965px #fff, 1641px 1348px #fff,
    1103px 1568px #fff, 1846px 641px #fff, 1120px 1170px #fff, 162px 1107px #fff,
    893px 1188px #fff, 882px 145px #fff, 9px 1706px #fff, 1068px 1573px #fff,
    1668px 1942px #fff, 409px 1387px #fff, 782px 1695px #fff, 867px 1920px #fff,
    356px 1072px #fff, 1830px 827px #fff, 1574px 1471px #fff, 1216px 1037px #fff,
    538px 628px #fff, 71px 1789px #fff, 1609px 1405px #fff, 701px 419px #fff,
    893px 1600px #fff, 384px 267px #fff, 15px 1240px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1556px 1751px #fff, 1156px 151px #fff, 216px 879px #fff,
    1708px 939px #fff, 274px 1770px #fff, 975px 1902px #fff, 759px 683px #fff,
    548px 816px #fff, 121px 920px #fff, 357px 1805px #fff, 624px 867px #fff,
    1924px 547px #fff, 1004px 1435px #fff, 364px 305px #fff, 867px 1106px #fff,
    1907px 821px #fff, 1704px 1519px #fff, 1206px 1069px #fff, 1210px 840px #fff,
    506px 35px #fff, 675px 1366px #fff, 535px 356px #fff, 1426px 1638px #fff,
    699px 1429px #fff, 1474px 653px #fff, 1740px 959px #fff, 1187px 489px #fff,
    1410px 215px #fff, 1348px 1765px #fff, 531px 267px #fff, 392px 1994px #fff,
    655px 1257px #fff, 1289px 1786px #fff, 1837px 851px #fff, 1207px 574px #fff,
    838px 290px #fff, 1085px 1825px #fff, 548px 1764px #fff, 271px 966px #fff,
    489px 758px #fff, 1861px 683px #fff, 894px 1605px #fff, 709px 1555px #fff,
    871px 941px #fff, 747px 1989px #fff, 674px 1373px #fff, 39px 351px #fff,
    1195px 66px #fff, 865px 33px #fff, 688px 1858px #fff, 451px 1821px #fff,
    1936px 1241px #fff, 1012px 1210px #fff, 1075px 393px #fff, 421px 1528px #fff,
    1758px 1991px #fff, 577px 723px #fff, 1793px 1764px #fff, 936px 61px #fff,
    499px 507px #fff, 1135px 1086px #fff, 865px 1943px #fff, 223px 1983px #fff,
    675px 79px #fff, 1000px 528px #fff, 811px 270px #fff, 947px 169px #fff,
    907px 1836px #fff, 1622px 465px #fff, 582px 1205px #fff, 892px 1168px #fff,
    506px 264px #fff, 764px 560px #fff, 874px 1453px #fff, 899px 1705px #fff,
    470px 709px #fff, 89px 1881px #fff, 506px 1531px #fff, 192px 589px #fff,
    432px 281px #fff, 1683px 1138px #fff, 579px 37px #fff, 1143px 44px #fff,
    1456px 642px #fff, 1757px 325px #fff, 1871px 1253px #fff, 603px 422px #fff,
    1963px 1449px #fff, 1646px 286px #fff, 1784px 670px #fff, 217px 1962px #fff,
    636px 1603px #fff, 1663px 168px #fff, 610px 60px #fff, 1539px 958px #fff,
    430px 982px #fff, 574px 1878px #fff, 49px 1163px #fff, 1413px 901px #fff,
    1080px 1955px #fff, 1919px 979px #fff, 305px 1319px #fff, 1305px 385px #fff,
    715px 185px #fff, 761px 1997px #fff, 1344px 232px #fff, 1364px 1577px #fff,
    1834px 1209px #fff, 1177px 46px #fff, 130px 1617px #fff, 1127px 736px #fff,
    1853px 805px #fff, 1481px 287px #fff, 1885px 590px #fff, 73px 1735px #fff,
    1283px 257px #fff, 1484px 1173px #fff, 1754px 1098px #fff, 294px 669px #fff,
    323px 1717px #fff, 1127px 1902px #fff, 910px 775px #fff, 423px 1209px #fff,
    517px 931px #fff, 1363px 1832px #fff, 746px 1860px #fff, 980px 608px #fff,
    1995px 1892px #fff, 1746px 1123px #fff, 1017px 1733px #fff,
    1205px 606px #fff, 1771px 330px #fff, 1818px 824px #fff, 11px 470px #fff,
    1652px 660px #fff, 427px 1558px #fff, 1922px 1711px #fff, 1495px 810px #fff,
    1119px 186px #fff, 352px 285px #fff, 325px 1163px #fff, 1239px 1375px #fff,
    1186px 1390px #fff, 1473px 1663px #fff, 796px 1028px #fff, 92px 1010px #fff,
    148px 1439px #fff, 973px 1475px #fff, 1466px 1133px #fff, 1322px 651px #fff,
    1263px 1223px #fff, 1435px 539px #fff, 1239px 514px #fff, 929px 678px #fff,
    1348px 1397px #fff, 1784px 838px #fff, 434px 1419px #fff, 979px 601px #fff,
    793px 66px #fff, 923px 1703px #fff, 1059px 424px #fff, 1404px 995px #fff,
    1438px 1372px #fff, 1969px 1065px #fff, 1755px 1821px #fff,
    1712px 1916px #fff, 1157px 28px #fff, 687px 1928px #fff, 842px 1773px #fff,
    1262px 1079px #fff, 1112px 356px #fff, 730px 932px #fff, 1369px 1695px #fff,
    711px 1621px #fff, 223px 1491px #fff, 465px 1965px #fff, 1641px 1348px #fff,
    1103px 1568px #fff, 1846px 641px #fff, 1120px 1170px #fff, 162px 1107px #fff,
    893px 1188px #fff, 882px 145px #fff, 9px 1706px #fff, 1068px 1573px #fff,
    1668px 1942px #fff, 409px 1387px #fff, 782px 1695px #fff, 867px 1920px #fff,
    356px 1072px #fff, 1830px 827px #fff, 1574px 1471px #fff, 1216px 1037px #fff,
    538px 628px #fff, 71px 1789px #fff, 1609px 1405px #fff, 701px 419px #fff,
    893px 1600px #fff, 384px 267px #fff, 15px 1240px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 601px 163px #fff, 259px 276px #fff, 1559px 37px #fff,
    397px 628px #fff, 1312px 953px #fff, 282px 588px #fff, 153px 701px #fff,
    1135px 1089px #fff, 1134px 386px #fff, 1629px 120px #fff, 1557px 1210px #fff,
    1690px 1469px #fff, 1371px 1910px #fff, 1334px 626px #fff,
    1883px 1884px #fff, 1318px 1808px #fff, 281px 632px #fff, 1913px 1783px #fff,
    486px 1662px #fff, 1956px 1937px #fff, 1497px 1371px #fff, 374px 17px #fff,
    195px 768px #fff, 382px 477px #fff, 1259px 356px #fff, 84px 1733px #fff,
    1057px 293px #fff, 1868px 1569px #fff, 728px 397px #fff, 593px 670px #fff,
    1416px 1318px #fff, 817px 536px #fff, 183px 912px #fff, 822px 536px #fff,
    239px 462px #fff, 435px 176px #fff, 387px 474px #fff, 550px 558px #fff,
    769px 855px #fff, 884px 1335px #fff, 1070px 1956px #fff, 1056px 561px #fff,
    1181px 653px #fff, 1750px 480px #fff, 125px 1127px #fff, 640px 1548px #fff,
    670px 263px #fff, 1285px 1019px #fff, 1787px 1901px #fff, 1004px 99px #fff,
    996px 1765px #fff, 1649px 1550px #fff, 1475px 696px #fff, 1797px 1756px #fff,
    926px 652px #fff, 1839px 279px #fff, 1053px 821px #fff, 291px 1472px #fff,
    397px 1509px #fff, 1043px 642px #fff, 114px 244px #fff, 1439px 825px #fff,
    1654px 1927px #fff, 1223px 785px #fff, 442px 86px #fff, 1954px 752px #fff,
    1030px 1868px #fff, 323px 1767px #fff, 238px 1790px #fff, 718px 53px #fff,
    221px 1582px #fff, 552px 149px #fff, 1437px 929px #fff, 1206px 747px #fff,
    1872px 466px #fff, 1082px 735px #fff, 1248px 183px #fff, 912px 45px #fff,
    1147px 133px #fff, 1389px 1322px #fff, 1777px 1306px #fff, 594px 152px #fff,
    1499px 1533px #fff, 785px 1992px #fff, 1335px 807px #fff, 948px 1514px #fff,
    1425px 1709px #fff, 888px 1048px #fff, 1358px 342px #fff, 1094px 1251px #fff,
    390px 1816px #fff, 396px 1988px #fff, 718px 1452px #fff, 1010px 1972px #fff,
    43px 154px #fff, 810px 1290px #fff, 609px 90px #fff, 1218px 1408px #fff,
    1329px 1227px #fff, 848px 1108px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 601px 163px #fff, 259px 276px #fff, 1559px 37px #fff,
    397px 628px #fff, 1312px 953px #fff, 282px 588px #fff, 153px 701px #fff,
    1135px 1089px #fff, 1134px 386px #fff, 1629px 120px #fff, 1557px 1210px #fff,
    1690px 1469px #fff, 1371px 1910px #fff, 1334px 626px #fff,
    1883px 1884px #fff, 1318px 1808px #fff, 281px 632px #fff, 1913px 1783px #fff,
    486px 1662px #fff, 1956px 1937px #fff, 1497px 1371px #fff, 374px 17px #fff,
    195px 768px #fff, 382px 477px #fff, 1259px 356px #fff, 84px 1733px #fff,
    1057px 293px #fff, 1868px 1569px #fff, 728px 397px #fff, 593px 670px #fff,
    1416px 1318px #fff, 817px 536px #fff, 183px 912px #fff, 822px 536px #fff,
    239px 462px #fff, 435px 176px #fff, 387px 474px #fff, 550px 558px #fff,
    769px 855px #fff, 884px 1335px #fff, 1070px 1956px #fff, 1056px 561px #fff,
    1181px 653px #fff, 1750px 480px #fff, 125px 1127px #fff, 640px 1548px #fff,
    670px 263px #fff, 1285px 1019px #fff, 1787px 1901px #fff, 1004px 99px #fff,
    996px 1765px #fff, 1649px 1550px #fff, 1475px 696px #fff, 1797px 1756px #fff,
    926px 652px #fff, 1839px 279px #fff, 1053px 821px #fff, 291px 1472px #fff,
    397px 1509px #fff, 1043px 642px #fff, 114px 244px #fff, 1439px 825px #fff,
    1654px 1927px #fff, 1223px 785px #fff, 442px 86px #fff, 1954px 752px #fff,
    1030px 1868px #fff, 323px 1767px #fff, 238px 1790px #fff, 718px 53px #fff,
    221px 1582px #fff, 552px 149px #fff, 1437px 929px #fff, 1206px 747px #fff,
    1872px 466px #fff, 1082px 735px #fff, 1248px 183px #fff, 912px 45px #fff,
    1147px 133px #fff, 1389px 1322px #fff, 1777px 1306px #fff, 594px 152px #fff,
    1499px 1533px #fff, 785px 1992px #fff, 1335px 807px #fff, 948px 1514px #fff,
    1425px 1709px #fff, 888px 1048px #fff, 1358px 342px #fff, 1094px 1251px #fff,
    390px 1816px #fff, 396px 1988px #fff, 718px 1452px #fff, 1010px 1972px #fff,
    43px 154px #fff, 810px 1290px #fff, 609px 90px #fff, 1218px 1408px #fff,
    1329px 1227px #fff, 848px 1108px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
