body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

/* fonts
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif; */

 /* Utilities */
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1600px;
    min-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.container-wrap {
    max-width: 850px;
    margin: 0 auto;
}

.red {
    color: #fc0000;
}


/* Sections */
.banner-section {
    position: relative;
    /* border: 1px solid red; */
    height: 100vh;
}

.rect1-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.banner-text {
    position: absolute;
    top: 280px;
    right: 20%;
    animation-duration: 2s;
    animation-delay: 1s;
    /* border: 1px solid red; */
}

.banner-text .first-name {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: #fff;
    margin-bottom: -55px;
    text-align: right;
}
.banner-text .last-name {
    font-family: 'Oswald', sans-serif;
    font-size: 125px;
    color: #fff;
    margin: 0;
    text-align: right;
}

.banner-text .title {
    text-align: right;
    margin: -30px -60px 0 0;
    font-size: 26.409px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.136;
    letter-spacing: 4.5px;
    -moz-transform: matrix( 0.79481792595012,0,0,0.83607492092945,0,0);
    -webkit-transform: matrix( 0.79481792595012,0,0,0.83607492092945,0,0);
    -ms-transform: matrix( 0.79481792595012,0,0,0.83607492092945,0,0);
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    flex-basis: 20%;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: lighter;
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

nav .nav-item a:hover {
    color: red;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.rect2-wrap {
    position: relative;
}

.rect2-wrap img {
    position: absolute;
    right: 0;
    top: -150px;
    z-index: 0;
}

.nav-logo {
    text-align: center;
}

.about-container {
    position: relative;
    z-index: 1;
}
.about-container h2, .projects-container h2 {
    color: #ff0000;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    margin-top: 120px;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.about-container__body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 680px;
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
}

.tech-stacks {
    margin-top: 100px;
    width: 100%;
    display: flex;
}

.icon-wrap i{
    font-size: 50px;
}

.column {
    color: #fff;
    width: 300px;
    display: block;
    padding: 20px;
    text-align: center;
}

.column:not(:last-child){
    border-right: 0.5px solid red;
}

.column__title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.column__text {
    font-family: 'Montserrat', sans-serif;
}

.projects-container {
    text-align: right;
}

.center {
    margin: 50px 0;
}

.slick-slide{
    width: 450px;
}

.slider__title {
    color: #fff;
    text-align: center;
}

.slick-track div:not(.slick-current) .slider__title,
.slick-track div:not(.slick-current) .slider__body {
    display: none;
}

.slick-track div:not(.slick-current) .slider-img-wrapper {
    opacity: 0.3;
}

.slick-track {
    height: 430px;
}

.slick-current {
    transform: scale(1)!important;
}

.slick-slide {
    transform: scale(0.8);
    transition: transform 0.7s ease;
}

.slider__title {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.slider__body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

/* Media queries */

@media (min-height: 800px) {
    .banner-section {
        position: relative;
        height: 800px;
    }
}
